.btn-hero {
  @extend %btn;
  display: inline-block;
  padding: 10px 32px;
}

.btn-footer {
  @extend %btn;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  margin-left: 12px;

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  // @include for-size(tablet-portrait) {
  //   margin-top: 20px;
  //   margin-right: auto;
  //   margin-left: auto;
  // }
  @include for-size(desktop) {
    margin-top: 0;
    margin-left: 12px;
    // margin-bottom: 94px;
  }
}

.btn-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: $white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  padding: 9 10;
  align-items: center;
}

.btn-submit-modal {
  @extend %btn;
  height: 50px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 767px) {
    padding-left: 0;
  }

  @include for-size(desktop) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: nowrap;
  }

  .item {
    margin-bottom: 15px;
    @extend %list;

    @include for-size(desktop) {
      text-align: center;
      display: inline-block;
      margin-right: 0;
    }
  }
}

.btn-portfolio {
  margin-right: 8px;
  min-width: 73px;
  height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-text-color;
  background: $bg-feature;
  border: 1px solid transparent;
  transition: background-color $transition, color $transition,
    box-shadow $transition;

  &:hover,
  &:focus {
    background: $accent-color;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
