.contacts,
.contact-us {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }
}
.contacts {
  padding-bottom: 60px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-self: flex-start;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 40px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
    margin-left: 100px;
  }
}
.contact-us {
  @extend %list !optional;

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   padding-top: 10px;
  //   // padding-bottom: 10px;
  // }
  // @include for-size(desktop) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: 50px;
  // }
}

.contact-us .item + .item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 20px;
  }
}

// .contact-us .item + .item {
//   @include for-size(desktop) {
//     margin-left: 50px;
//   }
// }

.menu-nav {
  @extend %list;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 32px;
    // margin-left: 88px;
    // margin-right: 50px;
  }
  @include for-size(desktop) {
    display: flex;
  }
}

.mail,
.phone {
  display: block;
  color: $primary-text-color;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.icon-smartphone {
  vertical-align: middle;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.icon-envelope {
  vertical-align: middle;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;
  transition: $transition;

  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }

  &:focus,
  &:hover {
    color: $accent-color;
  }
}
