.logo {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: $dark-color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    margin-bottom: 26px;
    margin-top: 26px;
    margin-right: 88px;
  }

  @include for-size(desktop) {
    display: flex;
    margin-right: 93px;
    margin-left: 215px;
  }
}

.web {
  color: $accent-color;
}
