.navigation {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include for-size(tablet-landscape) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @include for-size(desktop) {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-bottom: 0;
  }
}

.menu-nav {
  // display: none;

  @extend %list !optional;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-right: 50px;
  }

  @include for-size(desktop) {
    display: flex;
  }
}

// .item:not(:last-child) {
//   @include for-size(desktop) {
//     // margin-right: 50px;
//   }

// .item {
//   @include for-size(desktop) {
//     position: relative;
//   }
// }

.item .nav-link.current {
  @media screen and (min-width: $tablet) {
    position: relative;
  }
}

.nav-link.current {
  color: $accent-color;
}

.menu-nav .nav-link.current::after {
  @media screen and (min-width: $tablet) {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
  }
}

.nav-link {
  @include for-size(desktop) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;
    text-decoration: none;
    transition: color $transition;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
