.social-list {
  @extend %list !optional;
  display: flex;
  height: 44px;
  margin-bottom: 24px;
  justify-content: center;

  // width: 270px;
  // margin-bottom: 30px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $white-color;
  border-radius: 50%;
  color: $grey;
  transition: color $transition, background-color $transition,
    border-radius $transition;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
    border-radius: 50%;
  }
}

.social-icon {
  fill: currentColor;
}
