html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  // outline: 2px solid tomato;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/* Body */

body {
  background-color: $white-color;
  color: $title-text-color;
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline-color: tomato;

  @include for-size(tablet-portrait) {
    width: 480px;
    // background-color: tomato;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
    // background-color: black;
  }

  @include for-size(desktop) {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    // background-color: orange;
  }
}

.section {
  padding: 60px 0;

  @include for-size(desktop) {
    padding: 94px 0;
  }

  &-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 0.84;
    text-align: center;
    letter-spacing: 0.03em;

    @include for-size(desktop) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
    }
  }
}

.flexbox {
  @include for-size(desktop) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
