.clients-list {
  @extend %list !optional;
  display: flex;
  flex-wrap: wrap;

  @include for-size(desktop) {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.clients-item {
  width: calc((100% - 30px) / 2);

  &:not (:last-child) {
    @media screen and (max-width: 767px) {
      margin-right: 30px;
      margin-bottom: 50px;
    }
  }
  @include for-size(tablet-landscape) {
    width: calc((100% - 30px) / 3);
  }

  @include for-size(desktop) {
    width: calc((100% - 30px) / 6);
  }
}

.clients-link {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 90px;
  border-radius: 4px;
  border: 1px solid $grey;
  color: $grey;
  transition: color $transition, border $transition;

  @include for-size(desktop) {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid $grey;
    color: $grey;
    transition: color $transition, border $transition;
  }

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.clients-icon {
  vertical-align: middle;
  fill: currentColor;
}
