.clients-list {
  @extend %list !optional;
  display: flex;
  flex-wrap: wrap;

  @include for-size(desktop) {
    align-items: center;
  }
}

.clients-item {
  width: calc((100%-30px) / 2);
}

.clients-item:not(:last-child) {
  @include for-size(desktop) {
    margin-right: 30px;
  }
}

.clients-link {
  display: flex;
  box-sizing: border-box;
  height: 90px;
  border-radius: 4px;
  border: 1px solid $grey;
  color: $grey;
  transition: color $transition, border $transition;

  @include for-size(desktop) {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid $grey;
    color: $grey;
    transition: color $transition, border $transition;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // width: 210px;
  }

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.clients-icon {
  vertical-align: middle;
  fill: currentColor;
}
