.feature-list {
  @extend %list !optional;

  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  & > .item {
    width: 100%;
    margin-bottom: 30px;

    @include for-size(tablet-landscape) {
      width: calc((100% - 30px) / 2);
    }

    @include for-size(desktop) {
      width: 270px;
      margin-bottom: 0;
      margin-right: 0;
    }
  }
}

.background-feature {
  width: 100%;
  height: 120px;
  background-color: $bg-feature;
  border-radius: 4px;

  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 354px;
    height: 120px;
  }

  @include for-size(desktop) {
    width: 270px;
  }
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 100%;
  height: 70px;
  margin: 25px 0;
  vertical-align: middle;
  align-items: center;

  @include for-size(tablet-landscape) {
    margin: 25px 142px;
  }
  @include for-size(desktop) {
    margin-left: auto;
    margin-right: auto;
  }
}

.list-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section .description {
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
