.footer {
  background-color: $black;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 767px) {
    align-items: center;
    justify-content: center;
  }

  @include for-size(desktop) {
    align-items: baseline;
    justify-content: start;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    align-items: baseline;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }
}

// .box {
//   padding-top: 60px;

//   @media screen and (max-width: 767px) {
//     // text-align: center;
//     padding-bottom: 20px;
//   }

//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     text-align: center;
//     // margin-right: 165px;
//     margin-left: 76px;
//     // margin-bottom: 60px;
//   }

//   @media screen and (min-width: $desktop) {
//     width: 270px;
//     margin-right: 70px;
//     padding-bottom: 60px;
//   }
// }

.logo-address {
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1139px) {
    padding-left: 89px;
  }

  @include for-size(desktop) {
    display: block;
    margin-right: 30px;
    margin-bottom: 60px;
    width: 270px;
    justify-content: left;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $white-color;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @include for-size(desktop) {
    text-align: left;

    font-size: 26px;
    line-height: 1.19;
  }
}

.contacts-address {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white-color;
  text-decoration: none;
  font-style: normal;

  @media screen and (max-width: 1199px) {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  @include for-size(desktop) {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white-color;
    text-decoration: none;
    font-style: normal;
  }
}

.padding-zero {
  @extend %list;
  display: block;
  padding: 0;
  text-decoration: none;

  @media screen and (max-width: 1199px) {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  @include for-size(desktop) {
    padding-left: 0;
  }
}

.contacts-list {
  display: block;
  text-decoration: none;

  @media screen and (max-width: 1199px) {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

.contacts-item {
  display: block;
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}
