.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  &-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
  }
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4));
  background-image: url(../images/Jpeg/index/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
