.hero {
  max-width: 100%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  @include for-size(tablet-landscape) {
    max-width: 768px;
  }

  @include for-size(desktop) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
    // background-color: tomato;

    @include for-size(tablet-landscape) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.overlay {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4));
  background-image: url(../images/Jpeg/index/mobile/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/Jpeg/index/mobile/hero-bg@2x.jpg);
  }

  @include for-size(tablet-portrait) {
    background-image: url(../images/Jpeg/index/tablet/hero-bg.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/Jpeg/index/tablet/hero-bg@2x.jpg);
    }
  }

  @include for-size(desktop) {
    background-image: url(../images/Jpeg/index/desktop/hero-bg.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/Jpeg/index/desktop/hero-bg@2x.jpg);
      max-width: 1600px;
      height: 600px;
    }
  }
}
