/* work */

.padding-top-zero {
  padding-top: 0;
}
.work-list {
  @extend %list !optional;
  display: flex;

  .feature-item:not(:last-child) {
    margin-right: 30px;
  }
}

.display-mob {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.feature-box {
  position: relative;
  // width: 370px;
}

.feature-box-absolute {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 70px;
  align-content: center;
  justify-content: center;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
}

.work-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}
