/* Projects */
.flex-container {
  @extend %list;

  @media screen and (max-width: 767px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 14px;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 34px;
    margin: -15px;
  }
}

.container-element {
  background: $white-color;
  box-sizing: border-box;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) {
    tr:nth-child(2n) {
      // margin-bottom: 0;
      margin-right: 0;
    }
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

// .container-element {
//   :not(:nth-last-child(3n)) {
//     margin-right: o;
//   }
// }

// .container-element:nth-child(2n) {
//   @media screen and (min-width: $tablet) {
//     margin-right: 0;
//   }
// }

.list-link {
  text-decoration: none;

  &:hover .box-hover,
  &:focus .box-hover {
    opacity: 1;
    transform: translateY(0);
  }
}

.project-box {
  position: relative;
  width: 100%;
  overflow: hidden;

  @include for-size(desktop) {
    position: relative;
    width: 370px;
    overflow: hidden;
  }
}

.project-image {
  display: block;
}

.box-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  color: $white-color;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform $transition;
}

.link-description {
  margin: 0;
  padding: 63px 24px;
  width: 322px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  justify-content: center;
}

.description {
  border-right: 1px solid $description-color;
  border-left: 1px solid $description-color;
  border-bottom: 1px solid $description-color;
  border-top: none;
  padding: 24px 20px;

  @media screen and (max-width: 480px) {
    // width: 450px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 354px;
  }
}

.section-title-portfolio {
  /* margin-top: 20px; */
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text-color;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    text-align: left;
  }
}

.list-description {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
